{% extends "base.html" %}

{% block title %}Etusivu{% endblock %}

{% block heading %}Todo-listaus{% endblock %}

{% block content %}
<a href="{% url 'tietoa' %}">Tietoa ohjelmasta</a>

<ul>
    {% for tehtava in tehtavat %}
        <li>
            <a href="{% url 'tehtava' tehtava.id %}">
                {{tehtava}}
                {% if tehtava.kategoria %}
                    (Kategoria: {{tehtava.kategoria}})
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
