<html>
    <head>
        <title>Tehtävä: {{tehtava}}</title>
    </head>
    <body>
        <h1>{{tehtava}}</h1>

        <p>
            {% if tehtava.tehty %}
                <b>TEHTY!</b>
            {% else %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="submit"
                    value="Merkitse tehdyksi"/>
                    <input type="hidden"
                    name="toiminto"
                    value="merkitse_tehdyksi"/>
                </form>
            {% endif %}
        </p>

        <p>
            Kategoria:
            {% if tehtava.kategoria %}
                {{tehtava.kategoria}}
            {% else %}
                &ndash;
            {% endif %}
        </p>
        <p>
            <a href="{% url 'etusivu' %}">Etusivu</a>
        </p>
    </body>
</html>
